html {
    height: 100%;
  }

body {

    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
}

#container {
    display: flex;
    margin: auto;
    text-align: center;
}

#form_user_container {
    margin-top: 4em;
    padding: 0.5em;
}

input {
    margin: 0.3em 0;
    width: 100%;
    background-color: initial;
    border: none;
    border-bottom: 0.2px solid #6a9cbd;
    color: black;
    padding: 2px 0 10px 0;
    font-size: 15px;
    font-weight: 400;
}

.comment {
    margin-top: 2em;
}

#add_user, 
#log_in, 
.add_comment {
    background-color: royalblue;
    padding: 0.8em 3em;
    margin: 1.5em auto;
    border: none;
    color: black;
    font-size: 12px;
    font-weight: 800;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#add_user:hover, 
#log_in:hover, 
.add_comment:hover {
    background-color: #1f1d1d;
    color: white;
    cursor: pointer;
}

#curNews_container {
    margin: 2em;
}

.news_info {
    margin: 1em;
}

#slideshow {
    position: relative;
    width: 70%;
    height: 600px;
}

#slideshow>div {
    position: absolute;
    top: 2em;
    left: 5px;
    right: 0px;
    bottom: 0px;
}

.slideshow_img {
    width: 80%;
    max-height: 100%;
}

.news_info {
    margin: 1em;
    border: solid 0.5px darkcyan;
    padding: 1em;
}

.comment_container {
    margin: 1em;
}

h5 {
    color: #007bff;
}

.headline {
    font-family: 'Cinzel', serif;
    font-size: 1.8rem;
    font-weight: 800;
}

.news_author {
    font-weight: 800;
    font-size: 0.9rem;
}

.pubdate {
    font-size: 0.7rem;
    color: darkcyan;
}

.page-footer{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}  

#sources_container {
    margin: 2em;
    border: 0.2px solid #6a9cbd;
    padding: 1em;
}

#footer_img {
    width: 50px;
}