button {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border-radius: 3;
  border: 0;
  color: white;
  height: 48;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

.link {
  display: flex;
}

.icon {
  margin-right: 0.5px;
  width: 20px;
  height: 20px;
}

#sources_container {
  flex-grow: 1;
  height: auto;
  margin: 2em;
}

#nav {
  padding: 1em;
  border-bottom: solid 0.05em gray;
}

#source {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#source-container {
  width: 100%;
}

.MuiListItemText-root {
  text-align: start;
  margin: 0 1em;
  font-size: 20px;
}

#news {
  padding: 0;
}

h6 {
  font-size: 15px;
  line-height: 0;
}

.news-link {
  text-decoration: none;
  color: rgb(4, 62, 66);
}

.news-link:hover {
  text-decoration: none;
  color: rgb(7, 127, 136);
}

.cardMedia {
  width: 160;
}

.news-info {
  margin-bottom: 3em;;
}

.MuiCard-root{
  box-shadow: none;
  display: grid;
  grid-template-columns: 30% 60%;
  margin-top: 3em;
}

.MuiGrid-grid-md-7 {
  border: none;
  margin: 1em 7em;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
  
}
.avatar {
  width: 100%;
}

#comment-form {
display: grid;
grid-template-columns: auto;
grid-gap: 1em;
margin: 4em 7em;
box-shadow: none;
}

#comment-input {
  background-color: white;
   height: 100px;
   padding: 1em;
   border: none;
   box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
}

.MuiTextField-root,
.MuiInputBase-root, 
.MuiInput-root {
  border: solid 0.05em rgb(230, 229, 229);
  margin: 0 auto;
  display: block;
  padding: 0;
  min-width: 0;
  width: 100%;
}

.news-info{
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
  width: 85%;
  margin: 1em auto;
  padding: 1em;
  background-color: white;
}

.MuiPaper-elevation1,
.MuiPaper-rounded {
box-shadow: none;
}

#leave-comment {
  background: linear-gradient(45deg, rgb(109, 107, 254) 30%, #FF8E53 90%);
  width: 50%;
  margin: 0 auto;
}

#leave-comment:hover {
  background-color: rgb(109, 107, 254);
  cursor: pointer;
  color: balck;
}

.makeStyles-paper-162 {
  margin: 4em 0 !important; 
}