button {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border-radius: 3;
  border: 0;
  color: white;
  height: 48;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

.link {
  display: flex;
}

.icon {
  margin-right: 0.5px;
  width: 20px;
  height: 20px;
}

#sources_container {
  flex-grow: 1;
  height: auto;
  margin: 2em;
}

#nav {
  padding: 1em;
  border-bottom: solid 0.05em gray;
}

#source {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#source-container {
  width: 100%;
}

.MuiListItemText-root {
  text-align: start;
  margin: 0 1em;
  font-size: 20px;
}

h6 {
  font-size: 15px;
  line-height: 0;
}

.news-li {
  padding: 0 !important;
}

.news-link {
  text-decoration: none;
  color: rgb(50, 81, 173);
  font-weight: 800;
  font-size: 20px;
  padding: 0;
  margin: 0.01px;
}

.news-link:hover {
  text-decoration: none;
  color: rgb(14, 112, 224);
}

.cardMedia {
  width: 160;
}

#demo {
  margin: 2em auto;
  padding: 2em;
  text-align: center;
  color: black;
}

#source-container {
  margin: 2em;
}

.MuiCard-root {
  box-shadow: none;
  display: grid;
  grid-template-columns: 30% 60%;
  margin-top: 3em;
}

.MuiGrid-grid-md-7 {
  border: none;
  margin: 1em 7em;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
}

.avatar {
  width: 100%;
  height: 100%;
}

#comment-form {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  margin: 4em 0;
  margin-left: auto;
  box-shadow: none;
}

#comment-input {
  background-color: white;
  height: 100px;
  padding: 0 1em;
  border: none;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
}

.MuiTextField-root, .MuiInputBase-root, .MuiInput-root {
  border: solid 0.05em rgb(230, 229, 229);
  margin: 0 auto;
  display: block;
  padding: 0;
  min-width: 0;
  width: 100%;
}

.news-info {
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(145, 141, 141, 0.19);
  margin: 1em 0;
  margin-bottom: 3em;
  padding: 1.5em;
  background: lightgray;
  text-align: justify;
}

.MuiPaper-elevation1, .MuiPaper-rounded {
  box-shadow: none;
}

#leave-comment {
  background: linear-gradient(45deg, rgb(109, 107, 254) 30%, #FF8E53 90%);
  width: 100%;
  margin: 0 auto;
}

#leave-comment:hover {
  background-color: rgb(109, 107, 254);
  cursor: pointer;
  color: balck;
}

.makeStyles-paper-162 {
  margin: 4em 0 !important;
}

.MuiGrid-grid-md-7 {
  display: grid;
  grid-template-columns: 100%;
  box-shadow: none;
  margin-top: 2em;
  margin: 3em 0;
}

.comment-author {
  color: rgb(14, 112, 224);
  font-size: 20px;
  font-weight: 600;
}

.date {
  font-size: 12px;
  color: gray;
}

h5 {
  margin: 0;
  padding: 0;
}

.news-headline {
  font-size: 25px;
  font-weight: 600;
  color: navy;
  padding: 0;
  margin: 1em 0;
  text-align: center;
}

h7 {
  font-size: 17px;
  font-weight: 600;
  color: orangered;
  padding: 0;
  margin: 1em 0;
}

.comment-body {
  margin-top: 2em;
}

#logout-button {
  float: right !important;
}

.MuiLink-underlineHover, .nav_item {
  color: orangered;
}

.MuiLink-underlineHover:hover {
  text-decoration: none !important;
  color: orchid;
}

#comment-button {
  border: solid 0.05em orchid;
  color: orchid;
  background: transparent;
  box-shadow: none;
}

#comment-button:HOVER {
  color: WHITE;
  background: orchid;
}

#nav-avatar {
  background: orchid;
  box-shadow: none;
  border: solid 0.05em orchid;
  color: white;
}

#source {
  color: black;
}